{% extends 'base.html' %}

{% block head %}
    <title>{{ user.username }}</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">{{ user.username }}</h2>
        <p>Name: {{ user.name }}</p>
        <p>Surname: {{ user.surname }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>Bonuses: {{ user.ecart.bonus }}</p>
    </div>
    <div class="col-md-6 offset-md-3">
        <form action="{{ url_for('main.admin_give_bonus', username=user.username) }}" method="post">
            <h2>Gift a bonus to the user</h2>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 40%; border-radius: 60px;">Gift a bonus</button>
            </div>
        </form>

        <form action="admin/users/edit/{{ user.id }}" method="post">
            <button id="edit" class="btn btn-primary" style="width: 40%; border-radius: 60px;">Edit the user</button>
            <div id="edit-form"></div>
        </form>

        <form action="admin/users/delete/{{ user.id }}" method="post">
            <h2>Delete the user</h2>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 40%; border-radius: 60px;">Delete the user</button>
            </div>
    </div>
</div>


<script>
    document.getElementById('edit').addEventListener('click', function() {
        window.location.href = "{{ url_for('main.admin_edit_user', id=user.id) }}";
    });
</script>
{% endblock %}