{% extends 'base.html' %}

{% block head %}
    <title>Edit</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Edit</h2>
            <form action="{{ url_for('main.edit_user', id=user.id) }}" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" id="name" value="{{ user.name }}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="surname" id="surname" value="{{ user.surname }}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="phone" id="phone" value="{{ user.phone }}" required>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 40%; border-radius: 60px;">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
