{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary" style="width: 40%; border-radius: 60px;">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}